<h1 class = "rainbow"> STUPID COACHING </h1>
  <div>
    <p class="big-font">"<%= @input %>"</p>
    <p class="grey"> - Your input</p>
  </div>
  <div class="answer">
    <p class="big-font"><%= @answer %></p>
    <p class="grey"> - Coach's answer</p>
  </div>

  <p class="link"><%= link_to "Ask a new question!", ask_path %></p>

